<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/OGRE.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>ATILLA</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <div th:replace = "miseEnForme/header :: header"></div>
    <div class="content">
       <br><br><br>
       <div class="info">
           <div class="paragrapheInfo">
               <img src="/images/profilePicture.png" width="200"/>
           </div>
           <div class="paragrapheInfo">
                Nom : <span th:text="${adherant.nom}"></span><br/>
                Prenom : <span th:text="${adherant.prenom}"></span><br/>
                Genre : <span th:text="${adherant.genre}"></span><br/>
                Date de naissance : <span th:text="${adherant.dateDeNaissance}"></span><br/>
                Promotion : <span th:text="${adherant.promo}"></span><br/>
                Campus : <span th:text="${adherant.campus}"></span><br/>
                Email : <span th:text="${adherant.email}"></span><br/>
                Est sur la mailinglist : <span th:if="${adherant.mailingListe } == true">oui</span>
                <span th:if="${adherant.mailingListe } == false">non</span><br/>
                Cotisation : <span th:if="${adherant.cotisant == 0}" >Non cotisant</span>
                <span th:if="${adherant.cotisant == 1}" >Cotisant</span>
                <span th:if="${adherant.cotisant == 2}" >En cours</span><br/>
           </div>
            <div class="paragrapheInfo">
                Compétences informatiques :<br/> <span th:text="${adherant.connaissancesInfo}"></span><br/>
                Attentes dans l'association :<br/> <span th:text="${adherant.attentes}"></span><br/>
                Centres d'interet :<br/> <span th:text="${adherant.centresInteret}"></span><br/>
           </div>
        </div> 
    </div>
    <div th:replace="miseEnForme/footer :: footer"></div>
</body>