<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/ATILLA.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>Erreur</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no; fr, charset=UTF-8">
    
</head>
<body>
<div th:replace = "miseEnForme/header :: header"></div>
<br><br><br><br><br><br><br>
<h2 style="text-align:center">ERREUR 501, Vous n'êtes pas autorisé à accéder cette page.</h2>
<br><br><br><br><br><br><br>

<br>

<div th:replace="miseEnForme/footer :: footer"></div>
</body>