<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/OGRE.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>OGRE</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <div th:replace = "miseEnForme/header :: header"></div>
    <div class="homePageWelcome">Bienvenue sur OGRE! </div>

    <div class="content">
        <div class="title">Qui sommes nous?</div>
        <div class="center">
                            
           
        </div>
    </div>
<div th:replace="miseEnForme/footer :: footer"></div>
</body>
</html>