<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/OGRE.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>OGRE</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <div th:replace = "miseEnForme/header :: header"></div>
    <div class="homePageWelcome">Bienvenue sur OGRE! </div>

    <div class="content">
        <div class="title">Ogre, c'est quoi?</div>
        <div class="center">
            Créé fin 2020, OGRE est un atelier ludique et collaboratif pour sensibiliser aux questions liées à notre consommation d'énergie, à la production d'énergie décarbonée, et aux besoins financiers nécessaire pour concevoir une trajectoire énergétique bas carbone.     
           <br/>
           <br/>
        </div>
        <div class="title">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/juW-h0O1CtA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br/>
        <br/>
        Son créateur: Grégory Kotnarovsky</div>
        <div class="center">
            -docteur en sciences de l'ingénieur et en sciences économiques. <br/> -ingénieur chez EDF, enseignant-chercheur à l'ESTA, formateur, entrepreneur.            
        </div>
        <div class="title">Ses engagements</div>
        <div class="center">
            Sensibiliser la jeune génération, les entreprises et plus largement les citoyens, sur les sujets liés au climat, à l'énergie et l'économie pour aider à bâtir un monde soutenable.            
        </div>
    </div>
<div th:replace="miseEnForme/footer :: footer"></div>
</body>
</html>