<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <link rel="icon" type="image/png"  href="/images/logos/OGRE.png">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <title>OGRE</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    <div th:replace = "miseEnForme/header :: header"></div>
    <br><br>
    <div class="content">
        <form th:action="@{/calculConsoVoiture}" method="get">
            <div>
                <label>Donner votre email : </label>
                <input name="emailUtilisateur" id="emailUtilisateur" required/>
                <button type="submit" class="btn btn-primary">Calculer</button>
            </div>
        </form>
        
        <div class="col-md-6">
            <div class="panel panel-primary">
                <label th:text="${trouve}"></label>
                <div class="panel-body" th:if="${trouve}">
                	<table>
					    <thead>
					        <tr>
					            <th colspan="2" style="text-align: center; background-color: #04aa6d; color: white">Résultats  : </th>
					        </tr>
					    </thead>
					    <tbody class="tabResults">
					        <tr>
					            <td class="firstCol">Consommation voiture : </td>
					            <td th:text="${voiture}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation avion : </td>
	                    		<td th:text="${avion}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation train : </td>
	                    		<td th:text="${train}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation chauffage : </td>
                    			<td th:text="${chauffage}"></td>
					        </tr>
					        <tr>
					        	<td class="firstCol">Consommation climatisation : </td>
                    			<td th:text="${climatisation}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation tâches : </td>
	                    		<td th:text="${taches}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation nutrition : </td>
	                    		<td th:text="${nutrition}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation éclairage : </td>
		                    	<td th:text="${eclairage}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation produits bruns : </td>
		                    	<td th:text="${produitsBruns}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation marchandises : </td>
	                    		<td th:text="${marchandises}"></td>
					        </tr>
					        <tr>
						        <td class="firstCol">Consommation services publics : </td>
	                    		<td th:text="${servicesPublics}"></td>
					        </tr>
					    </tbody>
					</table>
                </div>
            </div>
        </div>
    </div>
<div th:replace="miseEnForme/footer :: footer"></div>
</body>
</html>