<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Resultats</title>
</head>
<body>
	<form th:action="@{/calculConsoVoiture}" method="get">
		<div>
			<label>Donner email : </label>
			<input name="emailUtilisateur" id="emailUtilisateur" required/>
			<button type="submit" class="btn btn-primary">Calculer</button>
		</div>
	</form>
	
	<div class="col-md-6">
		<div class="panel panel-primary">
			<label th:text="${trouve}"></label>
			<div class="panel-body" th:if="${trouve}">
				<label>Résultats  : </label>
				
				<br>
				
				<label>Consommation voiture : </label>
				<label th:text="${voiture}"></label>
				
				<br>
				
				<label>Consommation avion : </label>
				<label th:text="${avion}"></label>
				
				<br>
				
				<label>Consommation train : </label>
				<label th:text="${train}"></label>
				
				<br>
				
				<label>Consommation chauffage : </label>
				<label th:text="${chauffage}"></label>
				
				<br>
				
				<label>Consommation climatisation : </label>
				<label th:text="${climatisation}"></label>
				
				<br>
				
				<label>Consommation tâches : </label>
				<label th:text="${taches}"></label>
				
				<br>
				
				<label>Consommation nutrition : </label>
				<label th:text="${nutrition}"></label>
				
				<br>
				
				<label>Consommation éclairage : </label>
				<label th:text="${eclairage}"></label>
				
				<br>
				
				<label>Consommation produits bruns : </label>
				<label th:text="${produitsBruns}"></label>
				
				<br>
				
				<label>Consommation marchandises : </label>
				<label th:text="${marchandises}"></label>
				
				<br>
				
				<label>Consommation services publics : </label>
				<label th:text="${servicesPublics}"></label>
			</div>
		</div>
	</div>
</body>
</html>