<div class="footer" th:fragment = "footer">
    Services :<br/><br/>
    <a class="footerLien" href="https://wiki.atilla.org/xwiki/bin/view/Main/">Documentation</a>
    <a class="footerLien" href="http://pad.atilla.org/">Pad</a>
    <a class="footerLien" href="https://learn.atilla.org/">Learn</a>
    <a class="footerLien" href="https://blog.atilla.org/">Blog</a>
    <a class="footerLien" href="https://cytech.cyu.fr/">CY Tech</a>
    <a class="footerLien" href="https://peertube.atilla.org/">Peertube</a>
</div>