<div class="header" th:fragment="header">
    <img class="headerLogo" src="/images/logos/logoAtilla.png" onclick="location.href='/'"/>
    <div class="headerButtons">
        <!--<a class="headerButton" sec:authorize="hasRole('ROLE_ADMIN')" href='/admin/adherants'>-->
       <a class="headerButton" href="/form">Inscription</a> 
       <a sec:authorize="isAuthenticated()" class="headerButton"  href='/admin/adherants'> Adherants</a>
       <a sec:authorize="isAuthenticated()" class="headerButton"  href='/admin/cotisants'>Cotisants</a>
       <a sec:authorize="hasRole('TRESORIER')" class="headerButton" href="/tresorie/validation"> Valider cotisants </a>
    </div>
        <a sec:authorize="isAnonymous()" class="headerCompte"  href='/connexion'>Connexion</a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
            <input class="headerLogout" type="submit" value="Déconnexion"/>
        </form>
    </div>
    
</div> 